body {
    margin: 0; 
    font-family: 'Exo 2', sans-serif;    
    color: #43575d; 
}

a {
    transition: 300ms;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
}

h1, h2 {
    letter-spacing: -2px;
    font-family: 'Ubuntu', sans-serif;     
}

/* navbar */

header {
    top: -3px; /* fix white line */
    position: relative;
}

#walaper img{
    width:100%;
}

.navbar {
    background-color: #3498db;
    min-height: 60px;    
}

#navbar-logo {
    height:60px;
}

#navbar-logo img {
    height:20px;
    vertical-align: middle;    
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

nav {
    float: right;
    height:60px; 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    line-height: 60px;
}

nav a{
    color:#fff;
    text-decoration: none;
}

nav a:hover {
    color:#ffd500;
}

header .container {
    justify-content: space-between;
    padding: 0px 85px;
}

/* Content blocks */

.block {
    margin-top:50px;
}

.container {
    width: 1170px;
    display: flex;
    margin-right: auto;
    margin-left: auto;    
}

.container .s6 { 
    flex-basis:50%;
}

img.responsive {
     max-width: 100%;
}

.block .img {
    text-align:center;
}

.block .img img{
    vertical-align:middle;
}

.block .text {
    text-align: justify;
}

.block li.header {
    font-weight: 700;
    list-style-type: none;
    padding-bottom: 10px;
} 

/* What is block */

#whatis {
    margin-top: 70px;
}

#whatis .first{
    padding-right: 30px;
}

#hatis .last{
    padding-left: 30px;
}

#whatis img {
    margin-top:40px;
}

#whatis ul {
    padding: 20px;
}

#whatis li span{
    font-weight:bold;
}

/* geexplorer block */

#match-explorer .last {
    text-align:center;
}

/* gesocial block */

/* responsive */

@media screen and (max-width: 1171px) { 
    .container{
        width: auto;
        padding-right:15px;
        padding-left:15px;
    }

    header .container {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 690px) {
    .block .img {
        display:none;
    }

    .block .text{
        flex-basis: 100%;
    }

}
